root = true

[*]
charset = utf-8
end_of_line = lf
ij_any_blank_lines_after_class_header = 1
ij_any_keep_simple_classes_in_one_line = true
ij_continuation_indent_size = 4
ij_wrap_on_typing = true
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 2
trim_trailing_whitespace = true
