{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        io.cucumber/cucumber-java {:mvn/version "7.2.3"}}
 :paths ["src" "resources" "classes"]
 :aliases
 {:main
  {:exec-fn docpkg.main/build-package
   :exec-args {:title "Doc Packager"
               :readme "README.md"
               :cucumber-messages "target/cucumber-output"
               :static-website "target/static"}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
          :ns-default build}}}
